<!DOCTYPE html>
<html>
<head>

  <title>{{ 'title'|upper }}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="keywords" content="{{ 'keywords'|upper }}"/>
  <meta name="description" content="{{ 'description'|upper }}"/>

  {% block styles %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,500&amp;subset=latin" media="all">
  {% endblock %}
  {% block scripts %}
    <script type="text/javascript" src="/bundle.js"></script>
  {% endblock %}
</head>
<body>
{% block body %}
  <div id="app"></div>
{% endblock %}
</body>
</html>
