<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="{{ 'description'|upper }}"/>

  <title>{{ 'title'|upper }}</title>

  {% block styles %}
    <!-- <link rel="stylesheet" href="/compiled/css/general.css"> -->
  {% endblock %}
  {% block scripts %}
    <script src="/dependencies/js/require.js"></script>
    <script src="/dependencies/js/config/require.js"></script>
  {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
